h1 {
    background-color: red;
    height: 50px;
    color: whitesmoke;
    text-align: center;
}

body {
    padding-top: 60px;
}

.container-fluid {
    padding: 0px;
}

footer h1 {
    margin-bottom: 0;
}